.navbar-nav{
  display: flex;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  color: #7779FF;
}

body {
  color:rgb(40, 15, 70);
  background-color:#F46188;
  font-family: 'Poppins', sans-serif;
}

h1{
  background-color:#F46188;
}

h2{
  background-color:#F46188;
}

.boxes {
padding-top: 50px;
padding-right: 200px;
padding-bottom: 50px;
padding-left:300px;
margin:  12x 12x 12x 12x;
} 

h3{
  background-color:#F46188;
}

ul{
  background-color:#F46188;
}

p{
  background-color:#F46188;
}

script{
  color:rgb(73, 29, 127);
}

label{
  color:rgb(73, 29, 127);
}

input{
  color:rgb(73, 29, 127);
}

submit{
  color:rgb(73, 29, 127);
}

footer {
  background-color: rgb(244, 97, 136);
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  margin-top: 50px;
}

.footerSmallText {
  font-size: 22.5px;
  margin-top: 1%;
}

.footerNames {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 25px;
  margin: 0px 0px;
}

.footerLargeText
{
  margin-bottom: 0px;
  font-size: 32.5px;
}