.navbar-nav{
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #ffff;
}

body   
{color:#491D7F;}  body{background-color:#7779FF}

h1{background-color:#F46188}
h2{background-color:#F46188}

div {
  padding-top: 50px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-left:300px;
   margin:  12x 12x 12x 12x;
 }
h3{background-color:#F46188}
ul{background-color:#F46188}
p{background-color:#F46188}
script{color:#F46188}
label{color:#F46188}
input{color:#F46188}
submit{color:#F46188}







       
      
  

   
  
